body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0a0f1c;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0a0f1c;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
header {
    text-align: center;
    padding: 80px 20px;
}

header h1 {
    font-size: 45px;
    background: linear-gradient(90deg, #00c6ff, #a044ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 12px 25px;
    background: linear-gradient(90deg, #00c6ff, #a044ff);
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #111827;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* PRICE */
.price-card span {
    color: #00c6ff;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #111827;
}

